Flask==0.10.1
Flask-Sockets==0.2.0
gevent==1.0.2
gevent-websocket==0.9.5
greenlet==0.4.9
gunicorn==19.4.5
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
redis==2.10.5
Werkzeug==0.11.3
git+https://git@github.com/eldalai/pychess.git
ipdb==0.10.1
mock==1.0.1
flask-debugtoolbar==0.10.0
bcrypt==3.1.0
ujson==1.35
fakeredis==0.8.1