<!DOCTYPE html>
<html>
  <head>
    <title>Mega Chess</title>
    <link href="static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="static/css/application.css" rel="stylesheet" media="screen">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Mega Chess</h1>
      </div>
      <form id="register-form" action="register">
        <div class="form-group">
          <input id="input-register-username" type="text" class="form-control" placeholder="Enter your username" autofocus />
        </div>
        <div class="form-group">
          <input id="input-register-password" type="password" class="form-control" placeholder="Enter your password" autofocus />
        </div>
        <div class="form-group">
          <input id="input-register-email" type="text" class="form-control" placeholder="Enter your email" autofocus />
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
      </form>
      <form id="get-token-form">
        <div class="form-group">
          <input id="input-get-token-username" type="text" class="form-control" placeholder="Enter your username" autofocus />
        </div>
        <div class="form-group">
          <input id="input-get-token-password" type="password" class="form-control" placeholder="Enter your password" autofocus />
        </div>
        <button class="btn btn-primary" type="submit">Get Auth Token!</button>
      </form>
      <div class="container" id="auth_info" style="display: none">
        <span>Your auth_token is</span>
        <span id="spam-auth-token"></span>
        <a id="link-random" class="btn" target="blank">Try javascript Random</a>
        <a id="link-challenge" class="btn" target="blank">Challenge Opponent</a>
        <a id="link-tournaments" class="btn" target="blank">Tournaments</a>
      </div>
    </div>


    <script type="text/javascript" src="static/js/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="static/js/reconnecting-websocket.min.js"></script>
    <script type="text/javascript" src="static/js/application.js"></script>
  </body>
</html>